@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 100%;
  overflow: auto;
}

.image {
  /* background-image: url("./assets/banner.jpg");
  background-size: cover; */
  /* or "contain" depending on what you want */
  /* background-position: center;
  background-repeat: no-repeat; */
  background-color: lightblue;
  max-width: 100%;
  margin: 0.5rem;
}

.text {
  padding-top: 100px;
}

.text h2 {
  letter-spacing: 10px;
  font-size: 1.5rem;
  font-weight: bolder;
  width: 150px;
}

@media screen and (width<= 768px) {
  .text h2 {
    letter-spacing: 5px;
    font-size: 1rem;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
}

.card-title::after {
  content: "";
  display: block;
  height: 3px;
  width: 0%;
  background-color: black;
  transition: all ease 1s;
}

.card-title:hover::after {
  width: 100%;
}

.card-btn {
  width: 100%;
  justify-content: center;
  border-top: 2px solid black;
  cursor: pointer;
  transition: all ease 1s;
}

.card-btn:hover,
.card-btn:focus {
  box-shadow: inset 6.5em 0 6.5em 0 lightblue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

@media screen and (width < 768px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (width < 640px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

img {
  mix-blend-mode: multiply;
  object-fit: cover;
}

@media screen and (width < 768px) {
  .category-view {
    display: none;
  }
}
@media screen and (width > 768px) {
  .menu-icon {
    display: none;
  }
}